/*header*/
.header-one {
   padding: 20px;
}

.address-header {
   text-align: right;
}

.tel, .email {
 font-size: 18px;
}

.email a {
   color: #1fbfcd;
}

/*=navigation*/
.navbar-default {
   margin-bottom: 0px;
   background: #1fbfcd;
}

.navbar-default li a {
   color: white;
   font-size: 18px;
}

.navbar-default li a:hover {
   background: #15818b;
   color: white;
}

.dropdown-menu li a {
   color: black;
}

.navbar-nav .active {
   color: red;
}
.caret {
   color: white;
}

/*=quick links*/
.quicklinks .list-group-item {
   background: rgba(31, 191, 205, 0.1);
}

.quicklinks a {
   color: black;
}

.quicklinks a:hover {
   color: white;
   background: #15818b;
}

.quicklinks {
   padding: 10px;
}

.subscription-text {
   padding: 20px;
   background: #f5f5f5;
   margin-top: 20px;
   margin-right: 20px;
}

/*=service-heading*/
.service-heading {
   padding: 10px;
   margin-right: 10px;
}


/*=misc*/
h1 {
   font-size: 28px;
}
h1 small {
   font-size: 22px;
}

/*=body*/
.body, .container {
   font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
   /*box-shadow: 0,0,0,5px;*/
}

p {
   font-size: 20px;
}

/*=footer*/

footer {
   background: grey;
   color: white;
   margin-top: 30px;
}

footer h4 {
  color: #b4f5f5;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
   text-decoration: none;
   color: #b4f5f5;
}

.text_wrap {
  border: 1px dashed white;
  margin-bottom: 30px;
  padding: 10px;
}
.date {
  text-align: right;
  padding-right: 20px;
}

footer li {
  display: inline;
  list-style: none;
  margin: 0;
  margin-right: 5px;
}

footer li::after{
  content: '|';
  padding-left: 5px;
}
footer li:last-child::after {
  content: ' ';
}
.social img {
  width: 30px;
  height: 30px;
  padding: 1px;
}

/*Media queries*/
/*=configurations for extra small devices like phones*/
@media (maxwidth:767px) {
   h1 {
      color: red;
      font-size: 1px;
   }
}

/*=configurations for small devices like tablets*/
@media (maxwidth:991px) {
   h1 {
      font-size: 25px;
   }
}

/*=configurations for large devices like desktops*/
@media (minwidth:992px) {
   h1 {
      font-size: 35px;
   }
}

/*-glyphicons*/
.glyphicon {
   color: #1fbfcd;
   font-size: 20px;
}
.glyphicon-map-marker {
   font-size: 30px;
}

.glyphicon-map-marker:hover, .glyphicon-envelope:hover, .glyphicon-phone:hover {
   transform: rotateX(-180deg);
}
